body {
    font-family: $font-family;
}

.page-index {
    height: calc(100vh - 205px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    text-align: center;
    transform: translateY(60px);
}

.page-index__description {
    max-width: 440px;

    @media screen and (max-width: $screen-phone) {
        max-width: 240px;
        font-size: $font-size-sm;
    }
}
